@media(max-width:1000px) {
    .menu-pad {
        width:25%;
    }
}
@media(max-width:670px) {
    .header-right {
        display:none;
    }
    .menu-bars{
        display:block;
    }
    .menu-pad {
        width:50%;
    }
    .footer-left {
        display:none;
    }
    .footer-bars{
        display:block;
    }
}
@media(max-width:360px) {
    .menu-pad {
        width:100%;
    }
}